@page "/task"
@using TaskManagerClient.Client.Layout
@using TaskManagerClient.Client.Utility
@layout TaskLayout

<h3>TaskPage</h3>

<SortableList Id="sortable" Items="myItems" Context="item">
        <SortableItemTemplate>
            <div class="has-border has-background-white has-cursor-pointer">
                <p class="is-size-4 p-2 ml-4">@item.Name</p>
            </div>
        </SortableItemTemplate>
    </SortableList>

@code {
    public class Item
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }

    public List<Item> myItems = new List<Item>
    {
        new Item{ Id = 1, Name = "Test"},
        new Item{ Id = 2, Name = "Test2"},
        new Item{ Id = 3, Name = "Test3"},
        new Item{ Id = 4, Name = "Test4"}
    };
}
